.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-100 {
    padding-bottom: 100;
}
.pt-50 {
    padding-top: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pl-55 {
    padding-left: 55px;
}
.pr-75 {
    padding-right: 75px;
}
.pl-75 {
    padding-left: 75px;
}
.pl-45 {
    padding-left: 45px;
}
.f-right {
    text-align: right;
}
.white-bg {
    background-color: white;
}
.black-bg {
    background-color: black;
}
.white {
    color: #fff;
}
.green {
    color: #ddd
}
.red {
    color: red;
}
.gray-bg {
    background-color: #f7f7fd;
}
.bdr-b {
    border-bottom: 1px solid #fbba42;
}
.pb-30 {
    padding-bottom: 30px;
}